{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
 <div id="app"></div>
 <input
      type="hidden"
      name="_csrf_token"
      value="{{ csrf_token('product_delete') }}"
      id="_csrf_token"
    />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags("products")}}
{% endblock %}


{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags("products")}}
  {{ encore_entry_link_tags("main")}}
{% endblock %}